
html,body{
    overflow-x: hidden;
}


@font-face {
    font-family:Golden ;
    src: url(fonte/GOLDEN.otf);
}


*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}



header .container{
    
    max-width:  100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.465);
}

header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

h1{
    font-family: Golden;
}


header .container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
} 

.container img{
    max-width: 32px;
}

li{
    list-style: none;
    padding: 0 16px;
}

.cabeçalho{
    border-bottom: 4px solid transparent ;
    position: relative;
    cursor: pointer;
}

#carrosel{
    position: sticky;
    top: 0;
}

.atras button{
    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
    cursor: pointer;
}






.escondido{
    display: none;
    position: absolute;
    left: 0;
    
    height: 300px;
    top: 170%;
    background-color: rgb(255, 255, 255);
    
    z-index: 1;
}

.menu2 ul{
    background-color: white;
}

/* .cabeçalho:hover ul {
    display: flex;
} */

.make,
.perf,
.hair,
.golden{
    height: 200px ;
    border-top:4px solid transparent ;
    padding: 10px;
}   

#esc{
    display: none;
    max-width: 1024px;
}

.container3{
    display: flex;
    justify-content: space-between;
   
    z-index: 1;
    background-color: aliceblue;
    
  
}

.gride{
    padding: 16px;
}
.gride li{
    padding: 5px;
}

.escondido img{
    max-width: 400px;
    
}

.escondido li{
    display: block;
    padding: 8px;
}

.make img{
    width: 200px;
   
}

.container2 button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.menu .container{
    padding: 10px;
    width: 50%;
    border-bottom: 4px solid transparent;
}



.giro{
    max-width: 400px;
    max-height: 400px;
}

.Kits {
    display: flex;
  
    padding:10px 0;
}

section h2{
    text-transform: uppercase;
    padding: 2em 0 10px 20px;
}
section h4{
    font-weight: lighter; 
    padding: 0  0  24px 20px;
}

section li {
    padding: 0 9px 10px 20px;
}

section h5{
    padding: 10px 0;
}

.desconto{
color: dimgray;
text-decoration: line-through;
}

.descontado{
    color: brown;
}




#compra{
    
    display: none;

    }


    .butao{
      
      z-index: 1;

        left: 50%;
        top: 20%;
        
        transform: translate(60%, -390%);
    
        background-color: black;
        color: aliceblue;
    }    


li button{
    padding: 10px 50px;
    
}

.pausa{
text-align: center;
}

.pausa h2{
    font-size: 50px;
}

.looks{
    display: flex;
    max-width: 1024px;

    justify-items: center;
    text-align: center;
    align-items: center;
    
    padding-left: 3%;
    padding-top: 2.5em;
    padding-bottom: 100px;
}
.looks img{
    
    padding-left:5px ;
    
}

.meio1{
    max-height: 400px;
    
}
.ladoa img,
.ladob img{
    max-width: 200px;
   padding-top: 5px;
   padding-bottom: 5px;
}


.ladoa,
.ladob{
    display: grid;
    grid-template-columns: 50%  20% ;
    padding-left: ;
    
}

footer{
    display:flex ;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
    padding: 16px;
    


}

.final{
    background-color: rgb(31, 31, 31);
    padding: 16px;
    border-radius: 5%;

}

.sobre{
    color: aliceblue;
    padding: 20px;
    text-align: justify;
    max-width: 500px;

}

.sobre h2{
    text-transform: uppercase;
}

.sobre p{
    padding: 10px 5px 10px 0;
    
}

.container-flex{
    display: flex;
    padding: 60px 0; 
    max-height: 0px;
    align-items: center;
}

footer img{
    max-width: 500px;
    max-height: 300px;
    padding: 16px;
    border-radius: 10%;
    
}

.final h1{
    font-size: 25px;
    padding-top: 30%;
    color: aliceblue;
    
}

.final h3 {
    color: aliceblue;
    padding: 10px 2px;
    text-transform: uppercase;
}

form{
    display: grid;
    justify-content: space-around;
    align-items: center ;
   
    
}

form input{
    padding: 10px;
    background-color:rgb(31, 31, 31) ;
    
    border-color: rgba(240, 248, 255, 0.711);
    align-items: center ;
    margin: 5px 0;

    
    
}

form button{
    padding: 5px;
}

.foot{
    text-align: center;
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    padding: 0;
    
}

.foot a{
    color: goldenrod;
    text-decoration: none;
}

.foot a:hover{
    color: aliceblue;
}

main{
    max-width: 1280px;
    
    background-color: white;
    
    margin: auto;
   
}


.final input{
    color: aliceblue;
}



.buy{
    cursor: pointer;
}
/* cabeçalho */



.error{
    color: rgb(249, 247, 247);
}


.lista-itens h6,
.lista-itens a{
    color: rgba(0, 0, 0, 0.228);
    padding-bottom: 10px;

}